{% extends 'base.html' %}

{% block title %}

    {{ category.category_title  }}

{% endblock %}

{% block sidebar %}

    <div class="col-md-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                Categories
            </a>
            {% for category in categories %}
                <a href="{% url 'category' category.pk %}"
                   class="list-group-item list-group-item-action">{{ category.category_title }}</a>
            {% endfor %}
        </div>
    </div>

{% endblock %}


{% block content %}

    <div class="col-md-9">
        <div class="container mt-3">
            <h2>
                News by categories {{ category }}
            </h2>
            <div class="row">
                {% for article in news %}
                    {% include 'news/include/article.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
