{% extends 'base.html' %}

{% block title %}

    Registration

{% endblock %}

{% block sidebar %}

    <div class="col-md-3">
        {% include 'news/include/categories_sidebar.html' %}
    </div>

{% endblock %}

{% block content %}


    <div class="col-md-9">
        <div class="container mt-3">
    <h2>Login</h2>

    <form action="{% url 'user_login' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block"
                style="background-color: #e1f0fc; border: none; color: black"> Login
        </button>

    </form>

    </div>
    </div>

{% endblock %}

