<div class="card mb-3">
    <div class="card-header">
        {% if article.category %}
            Category: <a href="{{ article.category.get_absolute_url }}" class="list-group-item-action">{{ article.category }}</a>
        {% endif %}
    </div>
    <div class="card-body">
        <div class="media">
            {% if article.photo %}
                <img src="{{ article.photo.url }}" alt="article photo" width="350" class="mr-3">
            {% else %}
                <img src="{{ article_img }}" alt="" width="350" class="mr-3">
            {% endif %}
            <div class="media-body">
                <a href="{{ article.get_absolute_url }}" style="color:#05282b; ">
                    <h4 class="card-title">{{ article.title }}</h4>
                </a>
                <p class="card-text" style="text-align: justify">{{ article.content|safe|truncatewords:70 }}</p>
                <a href="{{ article.get_absolute_url }}">read more</a>
            </div>
        </div>
    </div>

    <div class="card-footer text-muted" >
        <div style="text-align: left; display:inline-block;" >
          Views: {{ article.views_count }}
        </div>
        <div style="text-align: right; display:inline-block;float:right">
            {{ article.created|date:"d-m-Y H:i" }}
        </div>
    </div>

</div>